<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">eCommerce Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/about">About Mgt</a>
            </li>
            <!-- <li class="nav-item">
               <a class="nav-link" routerLink="/meetings">meetings Mgt</a>
            </li> -->
            <ul class="navbar-nav">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/users" id="navbarDropdown" role="button"
                     data-toggle="dropdown" aria-expanded="false">
                     Users Mgt
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" routerLink="/users/users-list">Users List</a>
                     <a class="dropdown-item" routerLink="/users/user-create">Create User</a>
                     <a class="dropdown-item" routerLink="/users/user-profile">User Profile</a>
                  </div>
               </li>
            </ul>
            <li class="nav-item">
               <a class="nav-link" routerLink="/orders">Orders Mgt</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/products">Products Mgt</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/calendar">Calendar Mgt</a>
            </li>
            <!-- <li class="nav-item">
               <a class="nav-link" routerLink="/meetings">Meetings Mgt</a>
            </li> -->
            <ul class="navbar-nav">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/meetings" id="navbarDropdown" role="button"
                     data-toggle="dropdown" aria-expanded="false">
                     Meetings Mgt
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" routerLink="/meetings/meetings-list">Meetings List</a>
                     <a class="dropdown-item" routerLink="/meetings/meetings-calen">My Scheduler</a>
                     <a class="dropdown-item" routerLink="/meetings/meetings-create">Create Meetings</a>
                     <a class="dropdown-item" routerLink="/meetings/meetings-profile">Update Meetings</a>
                  </div>
               </li>
            </ul>
            <!-- 
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" routerLink="/products" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-expanded="false">
                  Products
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="#">Create</a></li>
                  <li><a class="dropdown-item" routerLink="#">Update</a></li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" routerLink="#">View</a></li>
               </ul>
            </li> 
            -->
         </ul>
         <ul class="navbar-nav ml-auto mr-20">
            <form class="d-flex">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" routerLink="/auth/login" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-expanded="false">
                  <strong> My Account </strong>
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/auth/login">Login</a>
                  <a class="dropdown-item" routerLink="/auth/register">Register</a>
                  <a class="dropdown-item" routerLink="/auth/change-password">Change Password</a>
                  <a class="dropdown-item" routerLink="/auth/login">Logout</a>
               </div>
            </li>
         </ul>
      </div>
   </div>
</nav>




<!-- 
<li class="nav-item">
   <a class="nav-link" routerLink="/auth/login">Login Mgt</a>
</li>
<li class="nav-item">
   <a class="nav-link" routerLink="/auth/register">Register Mgt</a>
</li>
<li class="nav-item">
   <a class="nav-link" routerLink="/auth/change-password">ChangePwd Mgt</a>
</li> 
-->
<!-- 
<ul class="navbar-nav ml-auto">
   <li class="nav-item">
      <a class="nav-link" routerLink="/auth">Sign In</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" routerLink="#">Logout</a>
   </li>
   <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
   </form>
</ul> 
-->